body {
  display: block;
  margin: 0;
  font-family: 'FundamentalBrigade';
}
h2 {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 48px;
}
@font-face {
  font-family: 'FundamentalBrigade';
  src: url('fonts/FundamentalBrigade.woff') format('woff'), url('fonts/FundamentalBrigade.ttf') format('truetype'), url('fonts/FundamentalBrigade.svg#FundamentalBrigade') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fullscreen-container {
  height: 100vh;
  background-color: #f1f1f1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

.header-right {
  display: flex;
  justify-content: space-between;
}

.gate-types-container {
  padding: 37px 0px;  
}

.gate-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 72px;
}

.gate-type {
  width: 245px;
  height: 195px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gate-type span {
  color: #000;
  font-size: 18px;
  margin-top: 28px;
}

.gate-type__icon {
  -webkit-mask-image: url(images/gate-types/avtomatika.svg);
  mask-image: url(images/gate-types/avtomatika.svg);
  background-color: #EB5757;
}

.gate-type__icon:after {
  content: " ";
  width: 94px;
  height: 93px;
  display: block;
}

.gate-type:hover {
  background-color: #EB5757;
}

.gate-type:hover .gate-type__icon {
  background-color: #fff;
}

.gate-type:hover span {
  color: #fff;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

li a :hover {
  color: #B7AC97;
}

.phone {
  font-size: 22px;
  color: #B7AC97;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}


/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container, .modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
