body {
  display: block;
  margin: 0;
  font-family: 'FundamentalBrigade';
}

h2 {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 48px;
  letter-spacing: 1px;
}


h1{
    font-size: 72px;
}

p{
    font-size: 18px;
}

a{
    font-size: 18px;   
    color: #0888FF;
}
span{
    font-size: 18px;
}

@font-face {
  font-family: 'FundamentalBrigade';
  src: url('fonts/FundamentalBrigade.woff') format('woff'), url('fonts/FundamentalBrigade.ttf') format('truetype'), url('fonts/FundamentalBrigade.svg#FundamentalBrigade') format('svg');
  font-weight: normal;
  font-style: normal;
}

.top-container {
}
.partners{
    height:142px;
    width:100%;
    overflow:hidden;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

.header-right {
  display: flex;
  justify-content: space-between;
}

.gate-types-container {
  padding: 37px 0px;
}

.gate-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 72px;
}

.gate-type {
  width: 245px;
  height: 195px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gate-type span {
  color: #000;
  font-size: 18px;
  margin-top: 28px;
}

.gate-type__icon {
  background-color: #EB5757;
}

.gate-type__icon-otkatnie-vorota {
  -webkit-mask-image: url(images/gate-types/otkatnie-vorota.svg);
  mask-image: url(images/gate-types/otkatnie-vorota.svg);
}

.gate-type__icon-otkatnie-vorota:after {
  width: 105px;
  height: 91px;
}

.gate-type__icon-sekcionnie-vorota {
  -webkit-mask-image: url(images/gate-types/sekcionnie-vorota.svg);
  mask-image: url(images/gate-types/sekcionnie-vorota.svg);
}

.gate-type__icon-sekcionnie-vorota:after {
  width: 122px;
  height: 71px;
}

.gate-type__icon-rolletnie-sistemi {
  -webkit-mask-image: url(images/gate-types/rolletnie-sistemi.svg);
  mask-image: url(images/gate-types/rolletnie-sistemi.svg);
}

.gate-type__icon-rolletnie-sistemi:after {
  width: 120px;
  height: 77px;
}

.gate-type__icon-zabori {
  -webkit-mask-image: url(images/gate-types/zabori.svg);
  mask-image: url(images/gate-types/zabori.svg);
}

.gate-type__icon-zabori::after {
  width: 104px;
  height: 77px;
}

.gate-type__icon-ograjdeniya-dlya-parkovki {
  -webkit-mask-image: url(images/gate-types/ograjdeniya-dlya-parkovki.svg);
  mask-image: url(images/gate-types/ograjdeniya-dlya-parkovki.svg);
}

.gate-type__icon-ograjdeniya-dlya-parkovki::after {
  width: 108px;
  height: 75px;
}

.gate-type__icon-protivopojarnie-proemi {
  -webkit-mask-image: url(images/gate-types/protivopojarnie-proemi.svg);
  mask-image: url(images/gate-types/protivopojarnie-proemi.svg);
}

.gate-type__icon-protivopojarnie-proemi::after {
  width: 128px;
  height: 77px;
}

.gate-type__icon-peregruzochnie-sistemi {
  -webkit-mask-image: url(images/gate-types/peregruzochnie-sistemi.svg);
  mask-image: url(images/gate-types/peregruzochnie-sistemi.svg);
}

.gate-type__icon-peregruzochnie-sistemi::after {
  width: 105px;
  height: 84px;
}

.gate-type__icon-avtomatika {
  -webkit-mask-image: url(images/gate-types/avtomatika.svg);
  mask-image: url(images/gate-types/avtomatika.svg);
}

.gate-type__icon-avtomatika::after {
  width: 94px;
  height: 93px;
}

.gate-type__icon-raspashnie-vorota {
  -webkit-mask-image: url(images/gate-types/raspashnie-vorota.svg);
  mask-image: url(images/gate-types/raspashnie-vorota.svg);
}

.gate-type__icon-raspashnie-vorota::after {
  width: 116px;
  height: 75px;
}

.gate-type__icon-shlagbaumi {
  -webkit-mask-image: url(images/gate-types/shlagbaumi.svg);
  mask-image: url(images/gate-types/shlagbaumi.svg);
}

.gate-type__icon-shlagbaumi::after {
  width: 115px;
  height: 72px;
}

.gate-type__icon-modulnie-konstrukcii {
  -webkit-mask-image: url(images/gate-types/modulnie-konstrukcii.svg);
  mask-image: url(images/gate-types/modulnie-konstrukcii.svg);
}

.gate-type__icon-modulnie-konstrukcii::after {
  width: 128px;
  height: 87px;
}

.gate-type__icon-kovanie-vorota {
  -webkit-mask-image: url(images/gate-types/kovanie-vorota.svg);
  mask-image: url(images/gate-types/kovanie-vorota.svg);
}

.gate-type__icon-kovanie-vorota::after {
  width: 86px;
  height: 86px;
}

.gate-type__icon-pol-dlya-garaja {
  -webkit-mask-image: url(images/gate-types/pol-dlya-garaja.svg);
  mask-image: url(images/gate-types/pol-dlya-garaja.svg);
}

.gate-type__icon-pol-dlya-garaja::after {
  width: 100px;
  height: 85px;
}

.gate-type__icon-remont-vorot {
  -webkit-mask-image: url(images/gate-types/remont-vorot.svg);
  mask-image: url(images/gate-types/remont-vorot.svg);
}

.gate-type__icon-remont-vorot::after {
  width: 84px;
  height: 84px;
}


.gate-type__icon:after {
  content: " ";
  display: block;
}

.gate-type:hover {
  background-color: #EB5757;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
    padding: 15px;
}
.phone{
    margin-right:10px;
}
.header-right{
    display: flex;
    justify-content: space-between;

}

.gate-type:hover .gate-type__icon {
  background-color: #fff;
}

.gate-type:hover span {
  color: #fff;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

li a :hover {
  color: #B7AC97;
}

.phone {
  font-size: 22px;
  color: #B7AC97;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container, .modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.slider-container{
    background-color:#000;
    position:relative;
    height:80vh;
}
.slider{
    position:absolute;
    width:100%;
    height:100%;
    background-image:url(images/gates.png);
    background-size:cover;
    top:0;
    opacity: 0.75;
    z-index:1;
}
.description{
    z-index:2;
    position: relative;
    position: absolute;
    bottom: 0;
    padding: 60px;
    color: #fff;
    width:650px;
}
.slider-button{
    padding:12px 30px;
    background-color:#EB5757;
    font-size:20px;
    width:126px;
}
a .slider-button{
    color:#fff;
}
.slider-text h1{
    letter-spacing: 3;
    font-size: 9vh;
}
.slider-text p{
    line-height: 1.6;
    margin-top:-25px;
    margin-bottom: 35px;
}
.order-form{
    width:470px;
    height:498px;
    padding: 54px 54px 0 54px ;
    position:relative;
    background-color:#fff;
}
.order-form h2{
    margin-bottom: 25px;
    margin-top:-15px;
}
.text-field{
    width:100%;
    height: 42px;
    border-radius: 3px;
    border: 1px #EBEBEB solid;
    padding: 10px;
    font-family: 'FundamentalBrigade';
    font-size: 18px;
    margin-top: 10px;
    margin-bottom:10px;
}
.submit{
    position:absolute;
    bottom:0px;
    height: 60px;
    background-color:#EB5757;
    border:0px;
    width:100%;
    margin-left:-54px;
    font-family: 'FundamentalBrigade';
    font-size:24px;
    color: #fff;
    cursor: pointer;
}
.submit:hover{
    background-color:#FE7676;
}
.order-section{
    display:flex;
    justify-content: center;
    background-image:url(images/order_back.jpg);
    padding: 80px;
    background-size: cover;
}    
.testimonials{
    background-color: #B7AC97;
    padding:61px;
}
.testimonial-video{
    width:570px;
    height:335px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000;
    border-radius: 6px;
    margin-bottom: 33px;
    background-size: cover;
    opacity: 0.8;
    cursor: pointer;
}
.testimonial-video:hover{
    opacity: 1;
}
.t-left{
    font-size:24px;
    color:#fff;
}
.t-right{
    font-size:24px;
    opacity: 0.4;
    color:#fff;
}
.testimonial-text{
    display: flex;
    justify-content: space-between;
}
.testimonial{
    width:570px!important;
}
.videos-container{
    display: flex;
    justify-content: space-around;
    margin-top: 52px;
}
footer{
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-content{
    height:100px;
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}
.footer-content .phone{
    margin-top: 40px;
}
.footer-content .main-menu li a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 40px;
}